# Exclude the following from the Git repository
/old_files
/__pycache__
.dockerignore
config.yml
*.session
*.session-journal
src/*.log
.venv
src/*.db
*.db
*.log
/venv
/logs
/tmp
.env
*.sh
src/channels.yml
